/* starting value for the remis 10px to ease calculations */
/* 10px (desired value) /16px (browser default value) = 0.625 */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+3:wght@200;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
}

@keyframes stars1-move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-2rem, -1rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes stars2-move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-2rem, 1rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rays-shine {
  0% {
    filter: blur(0);
    opacity: 0;
  }
  50% {
    filter: blur(4px);
    opacity: 2;
  }
  100% {
    filter: blur(0);
    opacity: 0;
  }
}
.navigation {
  width: 55%;
  margin-left: 15rem;
  padding-top: 5rem;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.navigation__logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation__menu {
  font-size: 1.6rem;
  list-style: none;
  gap: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 200;
}
.navigation__link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.navigation__link_active {
  border-bottom: 2px solid;
}
.navigation .burger-menu {
  display: none;
}

.hero__img {
  height: 6.3rem;
  width: 6.3rem;
  margin-bottom: 2rem;
  transform: scale(-0.8);
  transition: transform 0.5s linear;
}
.hero__img:hover {
  transform: rotateX(-180deg) scale(1.2);
  transition: transform 0.5s linear;
}
.hero__primary-text {
  margin-bottom: 4rem;
  font-family: "Oswald", sans-serif;
  font-size: 4.8rem;
  line-height: 6.4rem;
}
.hero__secondary-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 200;
}
.hero .center {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  color: #fff;
  height: 100vh;
  /* background: url("../assets/background-img-1.png");
  background-size: cover; */
  position: relative;
}
.header__background-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.header .stars-img1 {
  position: absolute;
  right: -0.7%;
  top: 0.1%;
  height: 99.2vh;
  width: 99.1vw;
  animation: stars1-move 3s infinite;
}
.header .stars-img2 {
  position: absolute;
  right: -0.5%;
  top: -0.1%;
  height: 96.6vh;
  width: 98.7vw;
  animation: stars2-move 3s infinite;
}
.header .rays-img {
  position: absolute;
  right: 0.2%;
  top: 0.9%;
  height: 95vh;
  width: 96.5vw;
  animation: rays-shine 3s infinite;
}

.main {
  max-width: 95rem;
  margin: 0 auto;
  padding: 9rem 0;
}
.main__primary-text {
  margin-bottom: 4rem;
  color: #464547;
  font-family: "Oswald", sans-serif;
  font-size: 4.8rem;
  line-height: 6.4rem;
}
.main__secondary-text {
  margin-bottom: 4.5rem;
  color: #666;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem;
}
.main__flexbox {
  display: flex;
  justify-content: space-around;
  gap: 8.3rem;
  max-width: 90rem;
  margin: 0 auto;
}
.main__paragraph {
  color: #666;
  font-size: 1.6rem;
  flex-basis: 100%;
  line-height: 2.2rem;
  margin-bottom: 4rem;
}
.main__button {
  padding: 0.6rem 1.8rem;
  color: #fff;
  border: none;
  border-radius: 1.8rem;
  background: #55c2d8;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}
.main__button:hover {
  transform: scale(1.2) rotate(10deg);
  transform-origin: 0.5rem 2rem;
  transition: all 0.4s ease-in-out;
}

.learn-more {
  padding: 9rem 0;
  color: #fff;
  background: url("../assets/background-img-2.png");
  background-size: cover;
  height: 90vh;
}
.learn-more__primary-text {
  font-family: "Oswald", sans-serif;
  font-size: 4.8rem;
  line-height: 6.4rem;
  font-weight: 700;
}
.learn-more__secondary-text {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 200;
}
.learn-more__button {
  padding-left: 8px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  width: 9rem;
  height: 9rem;
  border-radius: 10rem;
  border: none;
  background-color: #55c2d8;
  margin-bottom: 7rem;
  transition: all 0.4s ease-in-out;
}
.learn-more__button:hover {
  color: #55c2d8;
  background-color: #fff;
  transition: all 0.4s linear;
  transform: scale(0.96);
}

.footer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 20rem;
  background: #464547;
  text-align: left;
  padding: 4rem 15rem;
}
.footer__logo {
  margin-bottom: 1.5rem;
  grid-column: 1/span 2;
  display: flex;
  align-items: center;
}
.footer__logo img {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}
.footer__logo span {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.6rem;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.footer__address, .footer__email, .footer__copyright {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-bottom: 5px;
}
.footer__address {
  grid-column: 3/span 2;
}
.footer__email {
  grid-row: 2;
  grid-column: 3/span 2;
}
.footer__copyright {
  grid-column: 6/span 2;
  grid-row: 2;
}

/* Media query for screens up to 768px */
@media (max-width: 768px) {
  .header__background-img,
  .stars-img1,
  .stars-img2,
  .rays-img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
    z-index: -1;
  }
  .stars-img1 {
    right: 1.1%;
    top: 0.8%;
    height: 96.3vh;
  }
  .stars-img2 {
    right: 0.7%;
    top: 0.2%;
  }
  .rays-img {
    right: 1%;
    top: 1.4%;
    height: 94.3vh;
  }
  .navigation__menu {
    display: none;
  }
  .navigation .burger-menu {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: white;
    padding: 15px;
    font-size: 32px;
    cursor: pointer;
  }
  .navigation {
    width: 93%;
    padding-top: 2rem;
    margin: 0 3rem 4rem;
  }
  .center {
    width: 90%;
  }
  .main {
    padding: 6rem 2rem 10rem;
  }
  .main____flexbox {
    flex-direction: column;
    gap: 0;
    text-align: left;
    margin: 0 3rem;
  }
  .main__paragraph, .main__primary-text {
    margin-bottom: 3rem;
  }
  .main__secondary-text {
    margin-bottom: 3.5rem;
  }
  .learn-more {
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer {
    height: auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5.6rem 12.5rem 7.5rem;
  }
}/*# sourceMappingURL=styles.css.map */