@keyframes stars1-move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-2rem, -1rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes stars2-move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-2rem, 1rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes rays-shine {
  0% {
    filter: blur(0);
    opacity: 0;
  }
  50% {
    filter: blur(4px);
    opacity: 2;
  }
  100% {
    filter: blur(0);
    opacity: 0;
  }
}
