@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+3:wght@200;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: $font-default-size;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: $font-secondary-name;
  text-align: center;
}
