$color-primary: #55c2d8;
$color-secondary: #fff;
$color-font-primary: #464547;
$color-font-secondary: #666;
/* starting value for the remis 10px to ease calculations */
/* 10px (desired value) /16px (browser default value) = 0.625 */
$font-primary-name: "Oswald", sans-serif;
$font-secondary-name: "Source Sans 3", sans-serif;

$font-default-size: 62.5%;
