.footer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 20rem;
  background: $color-font-primary;
  text-align: left;
  padding: 4rem 15rem;
  &__logo {
    margin-bottom: 1.5rem;
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    img {
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 1rem;
    }
    span {
      color: $color-secondary;
      font-size: 1.8rem;
      line-height: 1.6rem;
      letter-spacing: 3.6px;
      text-transform: uppercase;
    }
  }
  &__address,
  &__email,
  &__copyright {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 5px;
  }
  &__address {
    grid-column: 3 / span 2;
  }
  &__email {
    grid-row: 2;
    grid-column: 3 / span 2;
  }
  &__copyright {
    grid-column: 6 / span 2;
    grid-row: 2;
  }
}
