@import "./navigation";
@import "./hero";
.header {
  color: $color-secondary;
  height: 100vh;
  /* background: url("../assets/background-img-1.png");
  background-size: cover; */
  position: relative;
  &__background-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }

  .stars-img1 {
    position: absolute;
    right: -0.7%;
    top: 0.1%;
    height: 99.2vh;
    width: 99.1vw;
    animation: stars1-move 3s infinite;
  }

  .stars-img2 {
    position: absolute;
    right: -0.5%;
    top: -0.1%;
    height: 96.6vh;
    width: 98.7vw;
    animation: stars2-move 3s infinite;
  }

  .rays-img {
    position: absolute;
    right: 0.2%;
    top: 0.9%;
    height: 95vh;
    width: 96.5vw;
    animation: rays-shine 3s infinite;
  }
}
