.hero {
  &__img {
    height: 6.3rem;
    width: 6.3rem;
    margin-bottom: 2rem;
    transform: scale(-0.8);
    transition: transform 0.5s linear;
  }
  &__img:hover {
    transform: rotateX(-180deg) scale(1.2);
    transition: transform 0.5s linear;
  }
  &__primary-text {
    margin-bottom: 4rem;
    font-family: $font-primary-name;
    font-size: 4.8rem;
    line-height: 6.4rem;
  }
  &__secondary-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 200;
  }
  .center {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
