.learn-more {
  padding: 9rem 0;
  color: #fff;
  background: url("../assets/background-img-2.png");
  background-size: cover;
  height: 90vh;
  &__primary-text {
    font-family: $font-primary-name;
    font-size: 4.8rem;
    line-height: 6.4rem;
    font-weight: 700;
  }
  &__secondary-text {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 200;
  }
  &__button {
    padding-left: 8px;
    color: #fff;
    font-family: $font-primary-name;
    font-size: 4rem;
    width: 9rem;
    height: 9rem;
    border-radius: 10rem;
    border: none;
    background-color: $color-primary;
    margin-bottom: 7rem;
    transition: all 0.4s ease-in-out;
    &:hover {
      color: $color-primary;
      background-color: #fff;
      transition: all 0.4s linear;
      transform: scale(0.96);
    }
  }
}
