.main {
  max-width: 95rem;
  margin: 0 auto;
  padding: 9rem 0;
  &__primary-text {
    margin-bottom: 4rem;
    color: $color-font-primary;
    font-family: "Oswald", sans-serif;
    font-size: 4.8rem;
    line-height: 6.4rem;
  }
  &__secondary-text {
    margin-bottom: 4.5rem;
    color: $color-font-secondary;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.2rem;
  }
  &__flexbox {
    display: flex;
    justify-content: space-around;
    gap: 8.3rem;
    max-width: 90rem;
    margin: 0 auto;
  }
  &__paragraph {
    color: $color-font-secondary;
    font-size: 1.6rem;
    flex-basis: 100%;
    line-height: 2.2rem;
    margin-bottom: 4rem;
  }
  &__button {
    padding: 0.6rem 1.8rem;
    color: $color-secondary;
    border: none;
    border-radius: 1.8rem;
    background: $color-primary;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.6rem;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transform: scale(1.2);
    transition: all 0.4s ease-in-out;
    &:hover {
      transform: scale(1.2) rotate(10deg);
      transform-origin: 0.5rem 2rem;
      transition: all 0.4s ease-in-out;
    }
  }
}
