.navigation {
  width: 55%;
  margin-left: 15rem;
  padding-top: 5rem;
  text-transform: uppercase;
  color: $color-secondary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  &__logo {
    color: $color-secondary;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
  }
  &__menu {
    font-size: 1.6rem;
    list-style: none;
    gap: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 200;
  }
  &__link {
    color: $color-secondary;
    text-decoration: none;
    cursor: pointer;
    &_active {
      border-bottom: 2px solid;
    }
  }
  .burger-menu {
    display: none;
  }
}
