/* Media query for screens up to 768px */

@media (max-width: 768px) {
  .header__background-img,
  .stars-img1,
  .stars-img2,
  .rays-img {
    object-fit: cover;
    object-position: right;
    z-index: -1;
  }
  .stars-img1 {
    right: 1.1%;
    top: 0.8%;
    height: 96.3vh;
  }
  .stars-img2 {
    right: 0.7%;
    top: 0.2%;
  }

  .rays-img {
    right: 1%;
    top: 1.4%;
    height: 94.3vh;
  }

  .navigation__menu {
    display: none;
  }

  .navigation .burger-menu {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: white;
    padding: 15px;
    font-size: 32px;
    cursor: pointer;
  }
  .navigation {
    width: 93%;
    padding-top: 2rem;
    margin: 0 3rem 4rem;
  }
  .center {
    width: 90%;
  }
  .main {
    padding: 6rem 2rem 10rem;
    &____flexbox {
      flex-direction: column;
      gap: 0;
      text-align: left;

      margin: 0 3rem;
    }
    &__paragraph,
    &__primary-text {
      margin-bottom: 3rem;
    }
    &__secondary-text {
      margin-bottom: 3.5rem;
    }
  }

  .learn-more {
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer {
    height: auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5.6rem 12.5rem 7.5rem;
  }
}
